$visual-grid: true !default; // Display the base grid
$visual-grid-color: #0023ff !default;
$visual-grid-index: back !default; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: 0.01 !default;
$visual-grid-breakpoints: () !default;
